.list {
  background-color: #0cbaba;
  background-image: linear-gradient(315deg, #0cbaba 0%, #380036 74%);
  color: aliceblue;
  width: 350px;
  height: 35px;
  margin: 10px 35px;
  border: 0;
  border-radius: 5px;
}

.list p {
  padding: 5px;
  position: relative;
}

.list p span {
  position: absolute;
  right: 0px;
  cursor: pointer;
}
.delete-icon {
  margin: 0px 5px;
  font-size: 25px;
}

.list p input {
  background-color: transparent;
  border: 0;
  color: whitesmoke;
  font-size: 15px;
}

.list p input {
  outline: none;
}

.list p input select:focus {
  outline: none;
}
